<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>

      <header>
        <nav class="purple darken-4">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Kahoot Answer Extractor</a>
          </div>
        </nav>
      </header>

      <main>

        <div id="idSelectorContainer" class="container" style="margin-top: 5rem;">
          <form action="{{ url_for('answers') }}" method="POST">
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <input type="text" id="kahootId" name="kahootId">
                <label for="kahootId">Digite o ID do Kahoot</label>
              </div>
            </div>
            <div class="row center-align">
              <div class="col s12">
                <button class="btn waves-effect waves-light purple darken-4" type="submit" id="btnKahootId">
                  Extrair respostas
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
        
      </main>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </body>

  </html>